body, html, main {
    height: 100%;
}

header, article {
    border: 1px solid lightgray;
}

h3 {
    font-family: "Kaushan Script";
}

h4 {
    margin-top: 15px;
    padding-left: 5%;
}

<<<<<<< HEAD
input {
    margin-top: 15px !important;
=======
#alertText{
    margin: 0 0 15px 15px !important;
    color: red;
}

/* user cue - when hovered over a memo title, mouse icon will be a pointer*/
.memo-title{
    cursor: pointer;
}

input{
    margin: 15px 0 0 0 !important;
>>>>>>> ee14d53b0c48fd87763c54ceebdfde1186c70591
    padding-left: 16px !important;
    width: 94.5% !important;
}
article {
    padding-bottom: 15px !important;
}

textarea {
    margin-top: 15px;
    height: 400px;
}

ul {
    margin-top: 0 !important;
}

li {
    font-family: Mali;
    font-size: large;
}

#custom-modal {
    display: block !important; /* Hidden by default */
    z-index: 2; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    max-height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
}

#custom-modal #custom-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    padding: 10px;
    text-align: center;
    width: 80%;
}

#close {
    color: #aaaaaa;
    top: 0;
    right: 0;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 0.6em;
}

/* Hover and focus effects for modal */
#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}