body, html, main {
    height: 100%;
}

header, article {
    border: 1px solid lightgray;
}

h3 {
    font-family: "Kaushan Script";
}

h4 {
    margin-top: 15px;
    padding-left: 5%;
}

#alertText{
    margin: 0 0 15px 15px !important;
    color: red;
}

/* user cue - when hovered over a memo title, mouse icon will be a pointer*/
.memo-title, .trashBinItems{
    cursor: pointer;
}

input{
    margin: 15px 0 0 0 !important;
    padding-left: 16px !important;
    width: 94.5% !important;
}
article {
    padding-bottom: 15px !important;
}

textarea {
    margin-top: 15px;
    height: 400px;
}

ul {
    margin-top: 0 !important;
}

li {
    font-family: Mali;
    font-size: large;
}